<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Our Current Users</h1>

    <table border="1" cellpadding="8">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Action</th>
        </tr>

        <% users.forEach((user, index) => { %>
            <tr>
                <td><%= user.firstName %></td>
                <td><%= user.lastName %></td>
                <td><%= user.gender %></td>
                <td><%= user.age %></td>
                <td><a href="/users/<%= index %>">View</a></td>
            </tr>
        <% }); %>
    </table>

    <br>
    <a href="/users/new">Add New User</a>
</body>
</html>